/* SASS VARIABLES
============================================================================= */
/* UTILITY STYLES
============================================================================= */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.full-height {
  height: 100%; }

.full-width {
  width: 100%; }

.position-relative {
  position: relative; }

.center-text {
  text-align: center; }

.margin-auto {
  margin-left: auto;
  margin-right: auto; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.sandwich-lines-white {
  border-top: 1px solid #a0a0a0;
  border-bottom: 1px solid #a0a0a0; }

.sandwich-lines-gray {
  border-top: 1px solid #a0a0a0;
  border-bottom: 1px solid #a0a0a0; }

.white-color {
  color: white; }

.gray-color {
  color: #a0a0a0; }

.black-color {
  color: black; }

.theme-color {
  color: #9b5480; }

.show-mobile {
  display: none; }
  @media screen and (max-width: 960px) {
    .show-mobile {
      display: block; } }

/* BASE STYLES
============================================================================= */
html, body {
  font-family: 'Lato', Helvetica Neue, sans-serif;
  font-weight: 300;
  width: 100%;
  min-height: 100%;
  line-height: 1.4; }
  @media screen and (max-width: 960px) {
    html, body {
      font-size: 1.32; } }

h1, h2, h3, h4, h6 {
  font-family: 'Merriweather', serif;
  font-weight: 300; }

h1 {
  font-size: 40px;
  line-height: 1.2; }
  @media screen and (max-width: 960px) {
    h1 {
      font-size: 28px; } }

h2 {
  font-size: 34px;
  color: #9b5480; }
  @media screen and (max-width: 960px) {
    h2 {
      font-size: 26px; } }

h3 {
  font-size: 16px; }
  @media screen and (max-width: 960px) {
    h3 {
      font-size: 13px; } }

h4 {
  font-size: 26px; }
  @media screen and (max-width: 960px) {
    h4 {
      font-size: 20px; } }

h5 {
  font-size: 18px; }
  @media screen and (max-width: 960px) {
    h5 {
      font-size: 14px; } }

small {
  font-size: 90%; }

a {
  color: #00907c;
  text-decoration: none; }
  a a:hover, a a:active, a a:visited {
    text-decoration: none; }
  a:hover, a:active {
    color: #00d0bc; }
  a a:visited {
    color: #00907c; }

a.non-styling {
  text-decoration: none;
  color: inherit; }
  a.non-styling:hover, a.non-styling:active, a.non-styling:visited {
    text-decoration: none;
    color: inherit; }

/* BUTTON STYLES
============================================================================= */
.my-button {
  padding: 4px 14px;
  background-color: #9b5480;
  color: white;
  font-size: 24px;
  display: inline-block;
  border-radius: 3px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px; }
  .my-button:hover {
    background-color: #af6195; }
  .my-button.x-small {
    font-size: 14px; }
  .my-button.small {
    font-size: 16px; }
  .my-button.medium {
    font-size: 20px; }
  .my-button.large {
    font-size: 24px; }
  .my-button.x-large {
    font-size: 30px; }

.buttonize {
  display: inline-block;
  border-radius: 3px;
  cursor: pointer; }

.buttonize:hover {
  opacity: 0.7; }

/* WRAPPER STYLES
============================================================================= */
header, article, footer {
  width: 100%; }

.header-padding {
  padding-top: 60px; }

.contents {
  width: 960px;
  margin-left: auto;
  margin-right: auto; }
  @media screen and (max-width: 960px) {
    .contents {
      width: 96%;
      margin-left: 2%;
      margin-right: 2%; } }

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-moz-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-o-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg); } }

header {
  position: fixed;
  height: 60px;
  border-bottom: 1px solid #e0e0e0;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.9); }
  @media screen and (max-width: 960px) {
    header {
      height: 48px;
      text-align: center; } }
  header a.logo-full {
    margin-top: 13px;
    height: 34px;
    float: left;
    display: inline-block; }
    @media screen and (max-width: 960px) {
      header a.logo-full {
        display: none; } }
    header a.logo-full img {
      height: 34px; }
    header a.logo-full:hover {
      opacity: 0.6; }
  header a.logo-mobile {
    margin-top: 8px;
    margin-bottom: 10px;
    height: 32px;
    display: inline-block; }
    @media screen and (min-width: 961px) {
      header a.logo-mobile {
        display: none; } }
    header a.logo-mobile img {
      height: 32px; }
    header a.logo-mobile.clicked {
      -webkit-animation: rotate 0.4s ease-in-out;
      -moz-animation: rotate 0.4s ease-in-out;
      animation: rotate 0.4s ease-in-out; }
  header nav {
    float: right; }
    @media screen and (max-width: 960px) {
      header nav {
        float: none;
        background-color: rgba(255, 255, 255, 0.9);
        height: 0px;
        overflow: scroll;
        width: 100%;
        position: absolute;
        left: 10px;
        -webkit-transition: height 0.2s ease-in-out, left 0.2s ease-in-out;
        -moz-transition: height 0.2s ease-in-out, left 0.2s ease-in-out;
        -o-transition: height 0.2s ease-in-out, left 0.2s ease-in-out;
        transition: height 0.2s ease-in-out, left 0.2s ease-in-out; }
        header nav.clicked {
          border-bottom: 1px solid #e0e0e0;
          left: 0;
          height: 48px; } }
    header nav ul {
      white-space: nowrap; }
      @media screen and (max-width: 960px) {
        header nav ul {
          margin: 0px 20px; } }
      header nav ul li {
        text-transform: uppercase;
        display: inline-block;
        font-size: 1.1em;
        line-height: 60px;
        letter-spacing: 1px; }
        @media screen and (max-width: 960px) {
          header nav ul li {
            font-size: 1em;
            line-height: 48px;
            letter-spacing: 1px; } }
        @media screen and (min-width: 961px) {
          header nav ul li:first-child {
            display: none; } }

footer {
  bottom: 0;
  height: 30px;
  border-top: 1px solid #e0e0e0;
  background-color: rgba(255, 255, 255, 0.9); }
  @media screen and (max-width: 960px) {
    footer {
      height: 24px; } }
  footer p {
    line-height: 30px;
    letter-spacing: 1px;
    font-size: 13px; }
    @media screen and (max-width: 960px) {
      footer p {
        line-height: 24px; } }

section {
  overflow-y: hidden; }
  section.white-background {
    background-color: white; }
  section.gray-background {
    background-color: #f7f7f7; }
  section.banner {
    background-repeat: no-repeat;
    background-size: cover;
    height: 420px; }
    @media screen and (max-width: 960px) {
      section.banner {
        height: 320px; } }
  section.about-banner {
    background-image: url("/images/about-banner.jpg"); }
  section.home-banner {
    background-image: url("/images/home-banner.png"); }
  section .medium-width {
    width: 600px; }
    @media screen and (max-width: 960px) {
      section .medium-width {
        width: 96%; } }
  section .narrow-width {
    width: 400px; }
    @media screen and (max-width: 960px) {
      section .narrow-width {
        width: 96%; } }
  section .box {
    border: 1px solid #9b5480; }
  section .three-col {
    position: relative;
    width: 33%;
    display: inline-block;
    text-align: center;
    vertical-align: top; }
    @media screen and (max-width: 960px) {
      section .three-col {
        width: 100%;
        display: block;
        text-align: center;
        vertical-align: auto; } }
    section .three-col .circle-image {
      width: 250px; }
      section .three-col .circle-image.hover:hover {
        opacity: 0.4; }
      section .three-col .circle-image.hover:hover + .on-hover-text {
        visibility: visible; }
    section .three-col .on-hover-text {
      visibility: hidden;
      position: absolute;
      width: 100%;
      top: 100px; }
      @media screen and (min-width: 961px) {
        section .three-col .on-hover-text {
          pointer-events: none; } }
      section .three-col .on-hover-text:hover {
        visibility: visible; }
  section .main-catch-text {
    padding-top: 110px;
    padding-bottom: 70px; }
    @media screen and (max-width: 960px) {
      section .main-catch-text {
        padding-top: 56px;
        padding-bottom: 0px; } }

/* QUIZ STYLES
============================================================================= */
.quiz-page footer {
  position: fixed;
  z-index: 100; }

.quiz .prompt {
  margin: 80px; }
  @media screen and (max-width: 960px) {
    .quiz .prompt {
      margin: 20px 0px; } }
.quiz .choices-wrapper {
  text-align: center; }
  .quiz .choices-wrapper .choice {
    position: relative;
    border: 1px solid #e0e0e0;
    color: black;
    display: inline-block;
    margin: 10px;
    width: 38%;
    padding: 20px;
    vertical-align: middle;
    height: 100%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(white 0%), to(#f7f7f7 100%));
    background-image: -webkit-linear-gradient(top, white 0%, #f7f7f7 100%);
    background-image: -moz-linear-gradient(top, white 0%, #f7f7f7 100%);
    background-image: -ms-linear-gradient(top, white 0%, #f7f7f7 100%);
    background-image: -o-linear-gradient(top, white 0%, #f7f7f7 100%);
    background-image: linear-gradient(top, white 0%, #f7f7f7 100%); }
    @media screen and (max-width: 960px) {
      .quiz .choices-wrapper .choice {
        position: relative;
        margin: 2%;
        width: 41%;
        padding: 2%;
        vertical-align: middle;
        height: 100%; } }
    .quiz .choices-wrapper .choice.selected {
      background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7 0%), to(#e0e0e0 100%));
      background-image: -webkit-linear-gradient(top, #f7f7f7 0%, #e0e0e0 100%);
      background-image: -moz-linear-gradient(top, #f7f7f7 0%, #e0e0e0 100%);
      background-image: -ms-linear-gradient(top, #f7f7f7 0%, #e0e0e0 100%);
      background-image: -o-linear-gradient(top, #f7f7f7 0%, #e0e0e0 100%);
      background-image: linear-gradient(top, #f7f7f7 0%, #e0e0e0 100%); }
    .quiz .choices-wrapper .choice h3 {
      border-top: 1px solid #e0e0e0; }
    .quiz .choices-wrapper .choice img {
      max-width: 100%; }
  .quiz .choices-wrapper .quiz-nav {
    position: relative;
    top: -130px; }
    @media screen and (min-width: 961px) {
      .quiz .choices-wrapper .quiz-nav {
        pointer-events: none; } }
    @media screen and (max-width: 960px) {
      .quiz .choices-wrapper .quiz-nav {
        top: 0px; } }
    .quiz .choices-wrapper .quiz-nav .my-button {
      background-color: #CBCBCB;
      height: 38px;
      width: 38px;
      line-height: 38px;
      padding: 0;
      pointer-events: auto; }
      @media screen and (max-width: 960px) {
        .quiz .choices-wrapper .quiz-nav .my-button {
          margin: 20px 2.5%;
          width: 76px; } }
      .quiz .choices-wrapper .quiz-nav .my-button:hover {
        background-color: #E0E0E0; }

/* OUTCOME TEXT STYLES
============================================================================= */
.output-text-col {
  width: 33%;
  display: inline-block;
  text-align: center;
  vertical-align: middle; }
  @media screen and (max-width: 960px) {
    .output-text-col {
      width: 96%;
      margin: 1%; } }
  .output-text-col .output-text {
    text-align: left;
    border-top: 1px solid #9b5480;
    border-bottom: 1px solid #9b5480; }
    .output-text-col .output-text h3 {
      font-size: 17px; }
    .output-text-col .output-text h4 {
      font-size: 12px;
      line-height: 1.5; }
    .output-text-col .output-text h6 {
      font-size: 15px; }
    @media screen and (max-width: 960px) {
      .output-text-col .output-text {
        border-top: 1px solid #9b5480;
        border-bottom: 1px solid #9b5480; }
        .output-text-col .output-text h3 {
          font-size: 15px; }
        .output-text-col .output-text h4 {
          font-size: 11px;
          line-height: 1.4; }
        .output-text-col .output-text h6 {
          font-size: 13px; } }

.example-output {
  width: 540px;
  vertical-align: middle; }
  @media screen and (max-width: 960px) {
    .example-output {
      width: 96%;
      margin: 1%; } }

/* GRAPH STYLES
============================================================================= */
.graph-wrapper {
  width: 600px;
  height: 540px;
  display: inline-block;
  vertical-align: middle; }
  @media screen and (max-width: 960px) {
    .graph-wrapper {
      display: none; } }

.graph-overlay {
  width: 100%;
  height: 100%;
  background-color: transparent;
  opacity: 0;
  position: relative;
  z-index: 20; }

.venn-circle {
  border-radius: 50%;
  background-color: #9b5480;
  opacity: 0.2;
  position: absolute;
  z-index: 0; }
  .venn-circle.hover {
    opacity: 0.4;
    background-color: #9b5480;
    z-index: 1; }

.venn-circle-key {
  position: absolute;
  color: #bbb;
  text-transform: uppercase; }
  .venn-circle-key.hover {
    color: #333;
    z-index: 2; }

.graph-dot {
  z-index: 3;
  border-radius: 50%;
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: white; }
  .graph-dot.hover {
    width: 16px;
    height: 16px; }

.graph-dot-key {
  font-family: 'Merriweather', serif;
  visibility: hidden;
  position: absolute;
  color: white;
  text-transform: lowercase;
  font-size: 12px; }
  .graph-dot-key.hover {
    visibility: visible;
    z-index: 3; }

hr.graph-line {
  margin: 0;
  border: 1px solid white;
  position: absolute;
  z-index: 4; }

/* ANIMATIONS
============================================================================= */
.page.ng-leave {
  /*z-index:9999;*/ }

.page.ng-enter {
  /*z-index:8888;*/ }

.page.ng-leave {
  -webkit-animation: slideOutLeft 0.5s both ease-in;
  -moz-animation: slideOutLeft 0.5s both ease-in;
  animation: slideOutLeft 0.5s both ease-in;
  /*-webkit-transform-origin: 0% 0%;*/
  /*-moz-animation: slideOutLeft 0.5s both ease-in;*/
  /*animation: slideOutLeft 0.5s both ease-in;*/ }

.page.ng-enter {
  -webkit-animation: slideInRight 0.5s both ease-in;
  -moz-animation: slideInRight 0.5s both ease-in;
  animation: slideInRight 0.5s both ease-in; }

/* rotate and fall */
@-webkit-keyframes rotateFall {
  0% {
    -webkit-transform: rotateZ(0deg); }

  20% {
    -webkit-transform: rotateZ(10deg);
    -webkit-animation-timing-function: ease-out; }

  40% {
    -webkit-transform: rotateZ(17deg); }

  60% {
    -webkit-transform: rotateZ(16deg); }

  100% {
    -webkit-transform: translateY(100%) rotateZ(17deg); } }

@-moz-keyframes rotateFall {
  0% {
    -moz-transform: rotateZ(0deg); }

  20% {
    -moz-transform: rotateZ(10deg);
    -moz-animation-timing-function: ease-out; }

  40% {
    -moz-transform: rotateZ(17deg); }

  60% {
    -moz-transform: rotateZ(16deg); }

  100% {
    -moz-transform: translateY(100%) rotateZ(17deg); } }

@keyframes rotateFall {
  0% {
    transform: rotateZ(0deg); }

  20% {
    transform: rotateZ(10deg);
    animation-timing-function: ease-out; }

  40% {
    transform: rotateZ(17deg); }

  60% {
    transform: rotateZ(16deg); }

  100% {
    transform: translateY(100%) rotateZ(17deg); } }

/* scale up */
@keyframes scaleUp {
  from {
    opacity: 0.3;
    transform: scale(0.8); } }

@-moz-keyframes scaleUp {
  from {
    opacity: 0.3;
    -moz-transform: scale(0.8); } }

@-webkit-keyframes scaleUp {
  from {
    opacity: 0.3;
    -webkit-transform: scale(0.8); } }

/* slide in from the right */
@keyframes slideInRight {
  from {
    transform: translateX(100%); }

  to {
    transform: translateX(0); } }

@-moz-keyframes slideInRight {
  from {
    -moz-transform: translateX(100%); }

  to {
    -moz-transform: translateX(0); } }

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translateX(100%); }

  to {
    -webkit-transform: translateX(0); } }

/* slide in from the bottom */
@keyframes slideInUp {
  from {
    transform: translateY(100%); }

  to {
    transform: translateY(0); } }

@-moz-keyframes slideInUp {
  from {
    -moz-transform: translateY(100%); }

  to {
    -moz-transform: translateY(0); } }

@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translateY(100%); }

  to {
    -webkit-transform: translateY(0); } }

/* slide in from the bottom */
@-webkit-keyframes slideOutLeft {
  to {
    transform: translateX(-100%); } }

@-moz-keyframes slideOutLeft {
  to {
    transform: translateX(-100%); } }

@-o-keyframes slideOutLeft {
  to {
    transform: translateX(-100%); } }

@keyframes slideOutLeft {
  to {
    transform: translateX(-100%); } }

/* rotate out newspaper */
@-webkit-keyframes rotateOutNewspaper {
  to {
    -webkit-transform: translateZ(-3000px) rotateZ(360deg);
    opacity: 0; } }

@-moz-keyframes rotateOutNewspaper {
  to {
    -moz-transform: translateZ(-3000px) rotateZ(360deg);
    opacity: 0; } }

@keyframes rotateOutNewspaper {
  to {
    transform: translateZ(-3000px) rotateZ(360deg);
    opacity: 0; } }
