
$theme-color: #9b5480;
$turqoise: #00907c;
$line-gray: #a0a0a0;
$line-light-gray: #e0e0e0;
$gray-background: #f7f7f7;
$white: #ffffff;
$black: #000000;

$header-height: 60px;
$footer-height: 30px;
$logo-height: 40px;

/* BASE STYLES
============================================================================= */

  /*background: #00D0BC;*/
  /*color:#00907c;*/

  /*background:#E59400;*/
  /*color:#a55400;*/

  /*background:#ffa6bb;*/
  /*color:#a55400;*/

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

html, body {
  font-family: 'Lato', Helvetica Neue, sans-serif;
  font-weight: 300;
  width: 100%;
  min-height: 100%;
  line-height: 1.4;
}

h2, h3, h4, h6 {
  font-family: 'Merriweather', serif;
  font-weight: 300;
}

h2, h4 {
  color: $theme-color;
}

h2 {
  font-size: 34px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 26px;
}

h5 {
  font-size: 18px;
}

small {
  font-size: 90%;
}

a, a:hover, a:active, a:visited {
  text-decoration: none;
}

a.non-styling, a.non-styling:hover, a.non-styling:active, a.non-styling:visited {
  text-decoration: none;
  color: inherit;
}

a {
  color: #00907c;
}

a:hover {
  color: #00D0BC;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.position-relative{
  position: relative;
}

.center-text {
  text-align: center;
}

.margin-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-button {
  padding: 4px 14px;
  background-color: $theme-color;
  color: $white;
  font-size: 24px;
  display: inline-block;
  border-radius: 3px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;

  &:hover {
    background-color: #af6195;
  }

  &.x-small {
    font-size: 14px;
  }

  &.small {
    font-size: 16px;
  }

  &.medium {
    font-size: 20px;
  }

  &.large {
    font-size: 24px;
  }

  &.x-large {
    font-size: 30px;
  }

}

.buttonize {
  display: inline-block;
  border-radius: 3px;
  cursor: pointer;
}

.buttonize:hover {
  opacity: 0.7;
}

.sandwich-lines-white {
  border-top: 1px solid $line-gray;
  border-bottom: 1px solid $line-gray;
}

.sandwich-lines-gray {
  border-top: 1px solid $line-gray;
  border-bottom: 1px solid $line-gray;
}

.white-color {
  color: $white;
}

.gray-color {
  color: $line-gray;
}

.black-color {
  color: $black;
}

.theme-color {
  color: $theme-color;
}

/* WRAPPER STYLES
============================================================================= */

header, article, footer {
  width: 100%;
}

header {
  position: fixed;
  height: $header-height;
  border-bottom: 1px solid $line-light-gray;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.9);

  img.logo {
    margin-top: ($header-height - $logo-height) / 2;
    height: $logo-height;
    float: left;
  }

  img.logo:hover {
    opacity: 0.6;
  }

  nav {
    float: right;
  }

  nav ul li {
    text-transform: uppercase;
    display: inline-block;
    font-size: 1.1em;
    line-height: $header-height;
    letter-spacing: 1px;
  }

}

.header-padding {
  padding-top: $header-height;
}

footer {
  bottom: 0;
  height: $footer-height;
  border-top: 1px solid $line-light-gray;
  background-color: rgba(255, 255, 255, 0.9);

  p {
    line-height: $footer-height;
    letter-spacing: 1px;
    font-size: 13px;
  }

}

.contents {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

section {
  overflow-y: hidden;

  &.white-background {
    background-color: $white;
  }

  &.gray-background {
    background-color: $gray-background;
  }

  .section-image {
    position: absolute;
    z-index: -1;
    overflow: hidden;
  }

  .medium-width {
    width: 600px;
  }

  .narrow-width {
    width: 400px;
  }

  &.banner {
    background-repeat:no-repeat;
    background-size:cover;
    height: 420px;
  }

  &.about-banner {
    background-image:url('/images/about-banner.jpg');
  }

  &.home-banner {
    background-image:url('/images/home-banner.png');
  }

}

.home-page {
  height: 100%;
}

.main-catch {
  color: $white;

  .main-catch-text {
    padding-top: 110px;
    padding-bottom: 70px;
  }

  h2 {
    font-size: 40px;
    line-height: 1.2;
    color: $white;
  }

  h3 {
    font-size: 26px;

    span {
      border-top: 1px solid $line-gray;
      border-bottom: 1px solid $line-gray;
    }
  }

}

.three-col {
  width: 33.33%;
  display: inline-block;
  text-align: center;
  vertical-align: top;
}

.circle-image {
  width: 250px;
}

.output-text-col {
  width: 30%;
  display: inline-block;
  text-align: center;
  vertical-align: middle;

  .output-text {

    text-align: left;
    border-top: 1px solid $theme-color;
    border-bottom: 1px solid $theme-color;

    h3 {
      font-size: 17px;
      margin-bottom: 8px;
    }

    h4 {
      font-size: 12px;
    }

    h6 {
      font-size: 15px;
    }

  }

}

.example-output {
  width: 540px;
  vertical-align: middle;
}

.quiz-page, .outcome-page, .explore-page, .about-page {
  footer {
    position: fixed;
    z-index: 100;
  }
}

.quiz {

  // .question {
  //   font-size: 35px;
  //   margin: 40px;
  // }

  .choices-wrapper {
    text-align: center;
  }

  .submit-answer-wrapper {
    // margin-top: 140px;
  }

  .choice {
    position: relative;
    border: 1px solid $turqoise;
    color: $turqoise;
    display: inline-block;
    margin: 10px;
    width: 40%;
    padding: 30px;
    vertical-align: middle;
    height: 100%;
  }

  .choice.selected {
    opacity: 0.4;
  }

}

/* GRAPH
============================================================================= */

.graph-wrapper {
  width: 600px;
  height: 600px;
  display: inline-block;
  vertical-align: middle;
}

.graph-overlay {
  width: 100%;
  height: 100%;
  // background-color: #ff0000;;
  background-color: transparent;
  opacity: 0;
  // opacity: 1;
  position: relative;
  z-index: 20;
}

.venn-circle {
  border-radius: 50%;
  background-color: $theme-color;
  // background-color: #d0d0d0;
  opacity: 0.1;
  // opacity: 1;
  position: absolute;
  z-index: 0;

  &.hover {
    opacity: 0.4;
    // background-color: lighten($turqoise, 20%);
    background-color: $theme-color;
    z-index: 1;
  }

}

.venn-circle-key {
  // background-color: $theme-color;
  // background-color: #d0d0d0;
  // opacity: 0.1;
  // opacity: 1;
  position: absolute;
  color: #999;
  // z-index: 0;

  &.hover {
    // background-color: lighten($turqoise, 20%);
    color: #666;
    z-index: 2;
    font-weight: bold;
  }

}

.dot {
  z-index: 2;
  border-radius: 50%;
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: $white;

  &:hover {
    background-color: black;
  }
}


/* ANIMATIONS
============================================================================= */

.page.ng-leave {
  /*z-index:9999;*/
}

.page.ng-enter {
  /*z-index:8888;*/
}

.page.ng-leave {
  /*-webkit-transform-origin: 0% 0%;*/
  /*-webkit-animation: slideOutLeft 0.5s both ease-in;*/
  /*-moz-transform-origin: 0% 0%;*/
  /*-moz-animation: slideOutLeft 0.5s both ease-in;*/
  /*transform-origin: 0% 0%;*/
  /*animation: slideOutLeft 0.5s both ease-in;*/
}

.page.ng-enter {
  /*-webkit-animation:slideInRight 0.5s both ease-in;*/
  /*-moz-animation:slideInRight 0.5s both ease-in;*/
  /*animation:slideInRight 0.5s both ease-in;*/
}

/* rotate and fall */
@-webkit-keyframes rotateFall {
  0% { -webkit-transform: rotateZ(0deg); }
  20% { -webkit-transform: rotateZ(10deg); -webkit-animation-timing-function: ease-out; }
  40% { -webkit-transform: rotateZ(17deg); }
  60% { -webkit-transform: rotateZ(16deg); }
  100% { -webkit-transform: translateY(100%) rotateZ(17deg); }
}
@-moz-keyframes rotateFall {
  0% { -moz-transform: rotateZ(0deg); }
  20% { -moz-transform: rotateZ(10deg); -moz-animation-timing-function: ease-out; }
  40% { -moz-transform: rotateZ(17deg); }
  60% { -moz-transform: rotateZ(16deg); }
  100% { -moz-transform: translateY(100%) rotateZ(17deg); }
}
@keyframes rotateFall {
  0% { transform: rotateZ(0deg); }
  20% { transform: rotateZ(10deg); animation-timing-function: ease-out; }
  40% { transform: rotateZ(17deg); }
  60% { transform: rotateZ(16deg); }
  100% { transform: translateY(100%) rotateZ(17deg); }
}

/* scale up */
@keyframes scaleUp {
  from { opacity: 0.3; transform: scale(0.8); }
}
@-moz-keyframes scaleUp {
  from { opacity: 0.3; -moz-transform: scale(0.8); }
}
@-webkit-keyframes scaleUp {
  from { opacity: 0.3; -webkit-transform: scale(0.8); }
}

/* slide in from the right */
@keyframes slideInRight {
  from { transform:translateX(100%); }
  to { transform: translateX(0); }
}
@-moz-keyframes slideInRight {
  from { -moz-transform:translateX(100%); }
  to { -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
  from { -webkit-transform:translateX(100%); }
  to { -webkit-transform: translateX(0); }
}

/* slide in from the bottom */
@keyframes slideInUp {
  from { transform:translateY(100%); }
  to { transform: translateY(0); }
}
@-moz-keyframes slideInUp {
  from { -moz-transform:translateY(100%); }
  to { -moz-transform: translateY(0); }
}
@-webkit-keyframes slideInUp {
  from { -webkit-transform:translateY(100%); }
  to { -webkit-transform: translateY(0); }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
  to { transform: translateX(-100%); }
}
@-moz-keyframes slideOutLeft {
  to { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes slideOutLeft {
  to { -webkit-transform: translateX(-100%); }
}

/* rotate out newspaper */
@-webkit-keyframes rotateOutNewspaper {
  to { -webkit-transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}
@-moz-keyframes rotateOutNewspaper {
  to { -moz-transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}
@keyframes rotateOutNewspaper {
  to { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}
