
/* SASS VARIABLES
============================================================================= */

$theme-color: #9b5480;
$link-color: #00907c;
$link-hover-color: #00D0BC;
$line-gray: #a0a0a0;
$line-light-gray: #e0e0e0;
$gray-background: #f7f7f7;
$white: #ffffff;
$black: #000000;

$desktop-content-width: 960px;
$desktop-medium-width: 600px;
$desktop-narrow-width: 400px;

$mobile-content-width: 96%;
$mobile-medium-width: 96%;
$mobile-narrow-width: 96%;

$header-height: 60px;
$footer-height: 30px;
$logo-height: 34px;
$circle-image-diameter: 250px;

$mobile-header-height: 48px;
$mobile-footer-height: 24px;
$mobile-logo-height: 32px;

@mixin background-image($from, $to) {
  background-image: -webkit-gradient(linear,left top,left bottom,from($from),to($to));
  background-image: -webkit-linear-gradient(top,$from,$to);
  background-image: -moz-linear-gradient(top,$from,$to);
  background-image: -ms-linear-gradient(top,$from,$to);
  background-image: -o-linear-gradient(top,$from,$to);
  background-image: linear-gradient(top,$from,$to);
}

@mixin transition($args) {
  -webkit-transition: $args;
     -moz-transition: $args;
       -o-transition: $args;
          transition: $args;
}

@mixin transform($args) {
  -webkit-transform: $args;
     -moz-transform: $args;
          transform: $args;
}

@mixin keyframe ($animation_name) {
    @-webkit-keyframes $animation_name {
        @content;
    }

    @-moz-keyframes $animation_name {
        @content;
    }

    @-o-keyframes $animation_name {
        @content;
    }

    @keyframes $animation_name {
        @content;
    }
}

@mixin animation ($args) {
  -webkit-animation: $args;
     -moz-animation: $args;
          animation: $args;
}

/* UTILITY STYLES
============================================================================= */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.position-relative{
  position: relative;
}

.center-text {
  text-align: center;
}

.margin-auto {
  margin-left: auto;
  margin-right: auto;
}

.sandwich-lines-white {
  border-top: 1px solid $line-gray;
  border-bottom: 1px solid $line-gray;
}

.sandwich-lines-gray {
  border-top: 1px solid $line-gray;
  border-bottom: 1px solid $line-gray;
}

.white-color {
  color: $white;
}

.gray-color {
  color: $line-gray;
}

.black-color {
  color: $black;
}

.theme-color {
  color: $theme-color;
}

/* BASE STYLES
============================================================================= */

html, body {
  font-family: 'Lato', Helvetica Neue, sans-serif;
  font-weight: 300;
  width: 100%;
  min-height: 100%;
  line-height: 1.4;

  @media screen and (max-width: $desktop-content-width) {
    font-size: 1.32;
  }

}

h1, h2, h3, h4, h6 {
  font-family: 'Merriweather', serif;
  font-weight: 300;
}

h1 {
  font-size: 40px;
  line-height: 1.2;

  @media screen and (max-width: $desktop-content-width) {
    font-size: 28px;
  }

}

h2 {
  font-size: 34px;
  color: $theme-color;

  @media screen and (max-width: $desktop-content-width) {
    font-size: 26px;
  }

}

h3 {
  font-size: 16px;

  @media screen and (max-width: $desktop-content-width) {
    font-size: 13px;
  }

}

h4 {
  font-size: 26px;

  @media screen and (max-width: $desktop-content-width) {
    font-size: 20px;
  }

}

h5 {
  font-size: 18px;

  @media screen and (max-width: $desktop-content-width) {
    font-size: 14px;
  }

}

small {
  font-size: 90%;
}

a {
  color: $link-color;
  text-decoration: none;

  a:hover, a:active, a:visited {
    text-decoration: none;
  }

  &:hover, &:active {
    color: $link-hover-color;
  }

  a:visited {
    color: $link-color;
  }

}

a.non-styling {
  text-decoration: none;
  color: inherit;

  &:hover, &:active, &:visited {
    text-decoration: none;
    color: inherit;
  }
}


/* BUTTON STYLES
============================================================================= */

.my-button {
  padding: 4px 14px;
  background-color: $theme-color;
  color: $white;
  font-size: 24px;
  display: inline-block;
  border-radius: 3px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;

  &:hover {
    background-color: #af6195;
  }

  &.x-small {
    font-size: 14px;
  }

  &.small {
    font-size: 16px;
  }

  &.medium {
    font-size: 20px;
  }

  &.large {
    font-size: 24px;
  }

  &.x-large {
    font-size: 30px;
  }

}

.buttonize {
  display: inline-block;
  border-radius: 3px;
  cursor: pointer;
}

.buttonize:hover {
  opacity: 0.7;
}


/* WRAPPER STYLES
============================================================================= */

header, article, footer {
  width: 100%;
}

.header-padding {
  padding-top: $header-height;

}

.contents {
  width: $desktop-content-width;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: $desktop-content-width) {
    width: $mobile-content-width;
    margin-left: 2%;
    margin-right: 2%;
  }
}

@include keyframe(rotate) {
  100% { @include transform(rotate(360deg)) }
}

header {
  position: fixed;
  height: $header-height;
  border-bottom: 1px solid $line-light-gray;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.9);

  @media screen and (max-width: $desktop-content-width) {
    height: $mobile-header-height;
    text-align: center;
  }

  a.logo-full {
    margin-top: ($header-height - $logo-height) / 2;
    height: $logo-height;
    float: left;
    display: inline-block;

    @media screen and (max-width: $desktop-content-width) {
      display: none;
    }

    img {
      height: $logo-height;
    }

    &:hover {
      opacity: 0.6;
    }

  }

  a.logo-mobile {
    margin-top: ($mobile-header-height - $mobile-logo-height) / 2;
    margin-bottom: ($mobile-header-height - $mobile-logo-height) / 2 + 2;

    height: $mobile-logo-height;
    display: inline-block;

    @media screen and (min-width: $desktop-content-width + 1) {
      display: none;
    }

    img {
      height: $mobile-logo-height;
    }

    &:active {
      @include animation(rotate 0.4s ease-in-out);
    }

  }

  nav {
    float: right;

    // TODO
    @media screen and (max-width: $desktop-content-width) {
      float: none;
      background-color: rgba(255, 255, 255, 0.9);
      height: 0px;
      overflow: scroll;
      width: 100%;
      position: absolute;
      left: 10px;

      @include transition((height 0.2s ease-in-out, left 0.2s ease-in-out));
      // @include transition(left 0.1s ease-in-out);


      &.clicked {
        border-bottom: 1px solid $line-light-gray;
        left: 0;
        height: $mobile-header-height;
      }

      // &:active {
      //   height: 0px;
      //   left: 20px;
      // }
    }

    ul {
      white-space: nowrap;

      @media screen and (max-width: $desktop-content-width) {
        margin: 0px 20px;
      }

      li {
        text-transform: uppercase;
        display: inline-block;
        font-size: 1.1em;
        line-height: $header-height;
        letter-spacing: 1px;

        @media screen and (max-width: $desktop-content-width) {
          font-size: 1em;
          line-height: $mobile-header-height;
          letter-spacing: 1px;
        }

        @media screen and (min-width: $desktop-content-width + 1) {
          &:first-child {
            display: none;
          }
        }

      }

    }

  }

}

footer {
  bottom: 0;
  height: $footer-height;
  border-top: 1px solid $line-light-gray;
  background-color: rgba(255, 255, 255, 0.9);

  @media screen and (max-width: $desktop-content-width) {
    height: $mobile-footer-height;
  }

  p {
    line-height: $footer-height;
    letter-spacing: 1px;
    font-size: 13px;

    @media screen and (max-width: $desktop-content-width) {
      line-height: $mobile-footer-height;
    }

  }

}

section {
  overflow-y: hidden;

  &.white-background {
    background-color: $white;
  }

  &.gray-background {
    background-color: $gray-background;
  }

  &.banner {
    background-repeat:no-repeat;
    background-size:cover;
    height: 420px;

    @media screen and (max-width: $desktop-content-width) {
      height: 320px;
    }

  }

  &.about-banner {
    background-image:url('/images/about-banner.jpg');
  }

  &.home-banner {
    background-image:url('/images/home-banner.png');
  }

  .medium-width {
    width: $desktop-medium-width;

    @media screen and (max-width: $desktop-content-width) {
      width: $mobile-medium-width;
    }

  }

  .narrow-width {
    width: $desktop-narrow-width;

    @media screen and (max-width: $desktop-content-width) {
      width: $mobile-narrow-width;
    }
  }

  .box {
    border: 1px solid $theme-color;
  }

  .three-col {
    position: relative;
    width: 33%;
    display: inline-block;
    text-align: center;
    vertical-align: top;

    @media screen and (max-width: $desktop-content-width) {
      width: 100%;
      display: block;
      text-align: center;
      vertical-align: auto;
    }

    .circle-image {
      width: $circle-image-diameter;

      &.hover:hover {
        opacity: 0.4;
      }

      &.hover:hover + .on-hover-text {
        visibility: visible;
      }

    }

    .on-hover-text {
      visibility: hidden;
      position: absolute;
      width: 100%;
      top: 100px;

      @media screen and (min-width: $desktop-content-width + 1) {
        pointer-events: none;
      }

      &:hover {
        visibility: visible;
      }
    }

  }

  .main-catch-text {
    padding-top: 110px;
    padding-bottom: 70px;

    @media screen and (max-width: $desktop-content-width) {
      padding-top: $mobile-header-height + $mobile-header-height / 6;
      padding-bottom: 0px;
    }
  }

}

/* QUIZ STYLES
============================================================================= */

.quiz-page {
  footer {
    position: fixed;
    z-index: 100;
  }
}

.quiz {

  .prompt {
    margin: 80px;

    @media screen and (max-width: $desktop-content-width) {
      margin: 20px 0px;
    }

  }

  .choices-wrapper {
    text-align: center;

    .choice {
      position: relative;
      border: 1px solid $line-light-gray;
      color: $black;
      display: inline-block;
      margin: 10px;
      width: 38%;
      padding: 20px;
      vertical-align: middle;
      height: 100%;

      @media screen and (max-width: $desktop-content-width) {
        position: relative;
        margin: 2%;
        width: 41%;
        padding: 2%;
        vertical-align: middle;
        height: 100%;
      }

      @include background-image($white 0%, $gray-background 100%);


      &.selected {
        @include background-image($gray-background 0%, $line-light-gray 100%);
      }

      h3 {
        border-top: 1px solid $line-light-gray;
      }

      img {
        height: 80px;
      }

    }

    $quiz-nav-button-width: 38px;

    .quiz-nav {
      position: relative;
      top: -130px;
      pointer-events: none;

      @media screen and (max-width: $desktop-content-width) {
        top: 0px;
      }

      .my-button {
        background-color: #CBCBCB;
        height: $quiz-nav-button-width;
        width: $quiz-nav-button-width;
        line-height: $quiz-nav-button-width;
        padding: 0;

        @media screen and (max-width: $desktop-content-width) {
          margin: 20px 2.5%;
          width: $quiz-nav-button-width * 2;
        }

        &:hover {
          background-color: #E0E0E0;

        }
      }

    }

  }

}

/* OUTCOME TEXT STYLES
============================================================================= */

.output-text-col {
  width: 33%;
  display: inline-block;
  text-align: center;
  vertical-align: middle;

  @media screen and (max-width: $desktop-content-width) {
    width: $mobile-content-width;
    margin: 1%;
  }

  .output-text {

    text-align: left;
    border-top: 1px solid $theme-color;
    border-bottom: 1px solid $theme-color;

    h3 {
      font-size: 17px;
    }

    h4 {
      font-size: 12px;
      line-height: 1.5;
    }

    h6 {
      font-size: 15px;
    }

    // todo
    @media screen and (max-width: $desktop-content-width) {
      border-top: 1px solid $theme-color;
      border-bottom: 1px solid $theme-color;

      h3 {
        font-size: 15px;
      }

      h4 {
        font-size: 11px;
        line-height: 1.4;
      }

      h6 {
        font-size: 13px;
      }
    }

  }

}

.example-output {
  width: 540px;
  vertical-align: middle;

  @media screen and (max-width: $desktop-content-width) {
    width: $mobile-content-width;
    margin: 1%;
  }

}


/* GRAPH STYLES
============================================================================= */

.graph-wrapper {
  width: 600px;
  height: 540px;
  display: inline-block;
  vertical-align: middle;
}

.graph-overlay {
  width: 100%;
  height: 100%;
  background-color: transparent;
  opacity: 0;
  position: relative;
  z-index: 20;
}

.venn-circle {
  border-radius: 50%;
  background-color: $theme-color;
  opacity: 0.1;
  position: absolute;
  z-index: 0;

  &.hover {
    opacity: 0.4;
    background-color: $theme-color;
    z-index: 1;
  }

}

.venn-circle-key {
  position: absolute;
  color: #999;
  text-transform: uppercase;

  &.hover {
    color: #666;
    z-index: 2;
    font-weight: bold;
  }

}

.dot {
  z-index: 2;
  border-radius: 50%;
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: $white;

  &:hover {
    background-color: black;
  }
}


/* ANIMATIONS
============================================================================= */

.page.ng-leave {
  /*z-index:9999;*/
}

.page.ng-enter {
  /*z-index:8888;*/
}

.page.ng-leave {
  @include animation(slideOutLeft 0.5s both ease-in);

  /*-webkit-transform-origin: 0% 0%;*/
  /*-moz-animation: slideOutLeft 0.5s both ease-in;*/
  /*animation: slideOutLeft 0.5s both ease-in;*/
}

.page.ng-enter {
  @include animation(slideInRight 0.5s both ease-in);
}

/* rotate and fall */
@-webkit-keyframes rotateFall {
  0% { -webkit-transform: rotateZ(0deg); }
  20% { -webkit-transform: rotateZ(10deg); -webkit-animation-timing-function: ease-out; }
  40% { -webkit-transform: rotateZ(17deg); }
  60% { -webkit-transform: rotateZ(16deg); }
  100% { -webkit-transform: translateY(100%) rotateZ(17deg); }
}
@-moz-keyframes rotateFall {
  0% { -moz-transform: rotateZ(0deg); }
  20% { -moz-transform: rotateZ(10deg); -moz-animation-timing-function: ease-out; }
  40% { -moz-transform: rotateZ(17deg); }
  60% { -moz-transform: rotateZ(16deg); }
  100% { -moz-transform: translateY(100%) rotateZ(17deg); }
}
@keyframes rotateFall {
  0% { transform: rotateZ(0deg); }
  20% { transform: rotateZ(10deg); animation-timing-function: ease-out; }
  40% { transform: rotateZ(17deg); }
  60% { transform: rotateZ(16deg); }
  100% { transform: translateY(100%) rotateZ(17deg); }
}

/* scale up */
@keyframes scaleUp {
  from { opacity: 0.3; transform: scale(0.8); }
}
@-moz-keyframes scaleUp {
  from { opacity: 0.3; -moz-transform: scale(0.8); }
}
@-webkit-keyframes scaleUp {
  from { opacity: 0.3; -webkit-transform: scale(0.8); }
}

/* slide in from the right */
@keyframes slideInRight {
  from { transform:translateX(100%); }
  to { transform: translateX(0); }
}
@-moz-keyframes slideInRight {
  from { -moz-transform:translateX(100%); }
  to { -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
  from { -webkit-transform:translateX(100%); }
  to { -webkit-transform: translateX(0); }
}

/* slide in from the bottom */
@keyframes slideInUp {
  from { transform:translateY(100%); }
  to { transform: translateY(0); }
}
@-moz-keyframes slideInUp {
  from { -moz-transform:translateY(100%); }
  to { -moz-transform: translateY(0); }
}
@-webkit-keyframes slideInUp {
  from { -webkit-transform:translateY(100%); }
  to { -webkit-transform: translateY(0); }
}

/* slide in from the bottom */
@include keyframe(slideOutLeft) {
  to { transform: translateX(-100%); }
}

/* rotate out newspaper */
@-webkit-keyframes rotateOutNewspaper {
  to { -webkit-transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}
@-moz-keyframes rotateOutNewspaper {
  to { -moz-transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}
@keyframes rotateOutNewspaper {
  to { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}
