<section class="header-padding">

  <div class="contents center-text quiz v-margin-large">

    <div class="prompt">
      <h4>{{question.prompt}}</h4>
    </div>

    <div class="choices-wrapper clearfix">

      <div class="choice buttonize" ng-class="{'selected': question.selected[$index]}" ng-repeat="choice in question.choices" ng-click="selectAnswer($index)">
        <img ng-src="{{choice.image}}" alt="{{choice.image}}">
        <h3 class="v-margin-small v-padding-large">{{choice.text}}</h3>
      </div>

      <nav class="quiz-nav clearfix">
        <div class="my-button small pull-left" ng-click="prevQuestion()">
          &lt;
        </div>
        <div class="my-button small pull-right" ng-click="nextQuestion()">
          &gt;
        </div>
      </nav>

    </div>

  </div>

</section>
